<!-- <div class="a">
<table id="table" class="table table-responsive table-bordered">
    <thead class="align-right">
    <tr>
        <th>BuyerName</th>
        <th> ShippingAddress</th>
        <th>City</th>
        <th>Amount</th>
        <th>Phone</th>
    </tr>
</thead>
    <tr *ngFor="let item of list">
        <td>{{item.Bfirstname}}</td>
        <td>{{item.Address}}</td>
        <td>{{item.City}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.phone}}</td>
    </tr>
</table>
</div>
<div class="a">
<table id="table" class="table table-responsive table-bordered">
    <thead class="align-right">
    <tr>
        <th>BuyerName</th>
        <th> ShippingAddress</th>
        <th>City</th>
        <th>Amount</th>
        <th>Phone</th>
    </tr>
</thead>
    <tr *ngFor="let item of list">
        <td>{{item.Bfirstname}}</td>
        <td>{{item.Address}}</td>
        <td>{{item.City}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.phone}}</td>
    </tr>
</table>
</div>-->
<div class="bs-example">
    <table style="background-color: white;margin-left: 300px;margin-top: 20px;" class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>BuyerName</th>
                <th>Street</th>
                
                <th>City</th>
                <th>Inr</th>
                
            </tr>
        </thead>
        <tbody>
            
                <tr *ngFor="let item of list">
                    <td>{{item.Id}}</td>
                    <td>{{item.Bfirstname}}</td>
                    <td>{{item.Street}}</td>
                    <td>{{item.City}}</td>
                    <td>{{item.Inr}}</td>
                    
                </tr>
                        
        </tbody>
    </table>
</div>